@{
    Layout = "_Layout";

    var positionId = ViewData["id"];
}

@section Styles {
<style>
    body {
        font-family: 'Roboto', serif;
        background-color: #f2f7f9 !important;
    }

    .img-fluid {
        width: 80%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    p {
        font-size: 0.9rem;
    }

    @@media (min-width:320px) {
        #position-title {
            font-size: 1.3rem;
            font-weight: bold;
        }
        #position-company {
            font-size: 1.3rem;
            font-weight: bold;
            color: #00b8e4;
        }
    }

    @@media (min-width:768px) {}

    @@media (min-width:1024px) {
        #main-container {
            padding: 30px 250px 0px 250px !important;
        }
    }
</style>
}

<div id="main-container" class="container pt-3">
    <div id="row-image" class="row pb-3">
        <div id="col-image" class="col text-center">
            <h3 id="position-title"></h3>
            <h6 id="position-location"></h6>
        </div>
    </div>
    <div id="row-image" class="row">
        <div id="col-image" class="col text-center">

        </div>
    </div>
    <div id="row-description" class="row pt-3">
        <div id="col-description" class="col">

        </div>
    </div>
</div>

@section Scripts {
<script>
    let locationIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
            class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/></svg>`

    let buildingIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
            class="bi bi-building" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
            <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
            </svg>`

    $(document).ready(() => {
        getPosition(@positionId)
            .then((position) => {
                renderData(position)
            })
    })

    function renderData(position) {

        if (position.name.includes('(')) {
            var x = position.name.trim().indexOf('(') - 1

            position.name = position.name.substr(0, x)
        }

        $('#position-title').text(position.name.toUpperCase())

        $('#position-company').text(position.company.toUpperCase())

        $('#position-location').html(`${locationIcon} ${position.location}`)


        var description = $(position.description)
        var image = description.children('figure img')[0]

        var html = document.createElement('div')

        html.innerHTML = position.description

        var x = html.getElementsByTagName('figure')

        var n = x.length

        while (x.length > 0) {
            html.removeChild(x[0])
        }

        var imgFluid = $(image).addClass('img-fluid')

        $('#col-image').append(imgFluid)
        $('#col-description').append(html)
    }

    function getPosition(positionId) {
        var url = `/api/v1/positions/${positionId}`

        return new Promise((resolve, reject) => {
            $.get(encodeURI(url), (r) => {
                resolve(r)
            })
        })
    }
</script>
}